.footer {
    margin-top: 100px;
    background-color: #f8f8f8;
    padding-bottom: 40px;
}
  
.footer__credits {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Mulish";
    font-size: 17px;
    font-weight: 300;
    color: #848484;
}
  
.footer__media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
  
.footer__media__link {
    margin-left: 30px;
    width: 22px;
    height: 22px;
}
